---
layout: default
---

<div id="loading" style="background:url(../images/loading.gif) no-repeat center center;width:100px;height:100px;margin-left:40%;margin-top:30%"></div>

<div class="home" style="display:none">
    <div class="row">
        <div class="col-md-12">
            <h1>NOTICIAS</h1>
        </div>
    </div>


    <div class="row pack">
        <div class="col-md-9">
            {% for post in paginator.posts %}
            <div class="col-md-4 card">
                <div class="panel panel-default" style="background-color: transparent">
                    <div class="panel-body">
                        <h3 class="panel-title pull-left">{{ post.title | truncate: 25 }}</h3>
          <span class="post-meta pull-right">
            <small>
                {{ post.date | date: "%-d/%-m/%Y" }}
            </small>
          </span>
                    </div>
                    {% if post.img %}
                    <img height="250px" class="center-block" src="{{site.baseurl}}/images/{{post.img}}"
                         alt="{{post.title}}">
                    {% else %}
                    <img width="100%" src="{{site.baseurl}}/images/logo-placeholder.png" alt="{{site.title}}">
                    {% endif %}
                    <div class="panel-body">
                        <small>
                            {{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}
                        </small>
                        <a href="{{ post.url | prepend: site.baseurl }}"
                           class="btn btn-primary btn-sm pull-right mt10" style="background-color: #0ca3ab; border-color:white">Leer</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        <div class="col-md-3 block-center">
            <a class="twitter-timeline" data-lang="es" data-width="300" data-height="500"
               href="https://twitter.com/BrazoSolidario">Tweets by BrazoSolidario</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            <div class="fb-page" data-href="https://www.facebook.com/brazosolidario" data-tabs="timeline"
                 data-small-header="true" data-width="300" data-height="500" data-hide-cover="false"
                 data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/brazosolidario" class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/brazosolidario">Brazo Solidario</a></blockquote>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if paginator.total_pages > 1 %}
            <ul class="pagination">
                {% if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;
                    Anterior</a></li>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="active"><span><em>{{ page }}</em></span></li>
                {% elsif page == 1 %}
                <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page
                    }}</a></li>
                {% else %}
                <li>
                    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{
                        page }}</a></li>
                {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                <li>
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Siguiente &raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}

        </div>
        <div class="col-md-4"></div>
    </div>

</div>

<script type="text/javascript">
    $("header").hide();
    setTimeout(function(){
        $("#loading").hide();
        $("header").show();
        $(".home").slideDown("fast");
    }, 4000);
</script>