
  <footer class="container">

  <div class="row mt20">
  {% if site.copyright.name %}
  <div class="col-md-4 text-center">© 2017 Brazo Solidario</div>
    {% endif %}
    
  <div class="col-md-4 text-center" ></div>
    
  <div class="col-md-4 text-center">
     <a target="_blank" href="{{site.facebook}}"><li class="social facebook"><img src="{{site.baseurl}}/images/facebook.svg" alt="{{site.facebook}}"></li></a>
      <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><img src="{{site.baseurl}}/images/twitter.svg" alt="{{site.twitter}}" style="background-color: white" class="img-rounded"></li></a>
      <a target="_blank" href="{{site.instagram}}"><li class="social instagram"><img src="{{site.baseurl}}/images/instagram.svg" alt="{{site.instagram}}"></li></a>
  </div>
  
  </div> 

</footer>

<script type="text/javascript">
  function getParameterByName(name, url) {
        if (!url) {
          url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    };

    if (getParameterByName("load") != "0"){
      $("footer").hide();
      setTimeout(function(){
          $("footer").show();
      }, 4000);
    } else
      $("footer").show();
</script>
