
  <footer class="container">

  <div class="row mt20">
  {% if site.copyright.name %}
  <div class="col-md-4 text-center">© 2017 Brazo Solidario</div>
    {% endif %}
    
  <div class="col-md-4 text-center" >
  {% if site.built-by %}
  <a target="_blank" href="http://github.com/marcciosilva"><img src="https://img.shields.io/badge/Hecho%20por-marcciosilva-blue.svg" alt="{{site.built-by}}"></a>
  {% endif %}
  </div>
  <div class="col-md-4 text-center">
     <a target="_blank" href="{{site.facebook}}"><li class="social facebook"><img src="{{site.baseurl}}/images/facebook.svg" alt="{{site.facebook}}"></li></a>
      <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><img src="{{site.baseurl}}/images/twitter.svg" alt="{{site.twitter}}" style="background-color: white" class="img-rounded"></li></a>
      <a target="_blank" href="{{site.instagram}}"><li class="social instagram"><img src="{{site.baseurl}}/images/instagram.svg" alt="{{site.instagram}}"></li></a>
  </div>
  
  </div> 

</footer>
