<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% seo %}

	<style>
		{% capture include_to_scssify %}
		{% include main.scss %}
		{% endcapture %}
		{{ include_to_scssify | scssify }}
		div {
			background-color: #77adee;
			color: #ffffff;
		}
	</style>

	<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$( function() {
			$( "#accordion" ).accordion({
				collapsible: true
			});
		} );
	</script>
</head>
