<header class="site-header" style="background-color: #4eba0c">
    <nav class="navbar navbar-default navbar-inverse" style="background-color: #4eba0c">
        <div class="container-fluid" style="background-color: #4eba0c">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="background-color: #4eba0c">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{site.baseurl}}/"><img width="50" height="50" style="margin-right:10px; margin-top:-10px" class="nav" src="../images/logo_blanco.png"></a><a class="navbar-brand" href="{{site.baseurl}}/" style="color: white">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1" style="background-color: #4eba0c">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{site.baseurl}}/galeria/" style="color: white">GALERIA</a></li>
                    <li><a href="{{site.baseurl}}/sobre-nosotros/" style="color: white">NOSOTROS</a></li>
                    <li><a href="{{site.baseurl}}/contacto/" style="color: white">CONTACTO</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
